<!DOCTYPE html>
<html>
<head>
    <title>Registered Users</title>
</head>
<body style="font-family:Arial; margin:40px;">

<h1>Registered Users</h1>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Skills</th>
        <th>Interests</th>
    </tr>

    {% for user in users %}
    <tr>
        <td>{{ user[0] }}</td>
        <td>{{ user[1] }}</td>
        <td>{{ user[2] }}</td>
        <td>{{ user[3] }}</td>
        <td>{{ user[4] }}</td>
    </tr>
    {% endfor %}

</table>

<br><br>

<a href="/">🏠 Home</a>

</body>
</html>